body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}
.mdl-layout {
  position: fixed;
  top: 0;
  left: 0;
}
.TopPad {
  margin-top: 50px;
}
.TopPadBig {
  margin-top: 90px;
}
.round {
  border-radius: 3px;
  padding: 5px 5px 5px 5px;
}
