extends layout

block content
      .android-content.mdl-layout__content.TopPad.mdl-grid
        .android-screen-section.mdl-typography--text-center.mdl-cell--12-col
          a(name='screens')
          .mdl-typography--display-1-color-contrast Example API Calls
          .android-screens
            .android-wear.android-screen
              a.android-image-link(href='')
                img.android-screen-image(src='images/wear-silver-on.png')
                img.android-screen-image(src='images/wear-black-on.png')
        .android-customized-section.mdl-cell--6-col.TopPad
          .android-customized-section-text
            .mdl-typography--font-light.mdl-typography--display-1-color-contrast Making a API call
            h5.mdl-color--grey-800.round.mdl-color-text--white.mdl-typography--font-light.TopPadSmall localhost/API/bars
            .mdl-typography--font-light.mdl-typography--display-1-color-contrast.TopPad Following code:
            ul.demo-list-item.mdl-list
              li.mdl-list__item.mdl-color-text--white Javascript
              li.mdl-list__item.mdl-color--grey-800.round.mdl-color-text--white.TopPadSmall.
                //the script in the example<br />
                var locy;<br />
                var locy;<br />
                function SetLocation() {<br />
                  locy = document.getElementById("x").value;<br />
                  locy = document.getElementById("y").value;<br />
                  DoACall();<br />
                }<br />
                function DoACall(){<br />
                  var directionsDisplay;<br />
                  var directionsService = new google.maps.DirectionsService();<br />
                  var xmlhttp = new XMLHttpRequest();<br />
                  var url = "http://localhost:4200/API/bars?locx="+parseFloat(locx)+"&locy="+parseFloat(locy);<br />
                  xmlhttp.onreadystatechange = function() {<br />
                   if (xmlhttp.readyState == 4 && xmlhttp.status == 200) {<br />
                   var myArr = JSON.parse(xmlhttp.responseText);<br />
                   myFunction(myArr);<br />
                   }<br />
                  }<br />
                  xmlhttp.open("GET", url, true);<br />
                  xmlhttp.send();<br />
                  function myFunction(arr) {<br />
                    var map = initMap();<br />
                     for(k in arr) {<br />
                            GG = arr[k];<br />
                            var cord = new google.maps.LatLng(GG.locy, GG.locy);<br />
                            var marker = new google.maps.Marker({<br />
                              position: cord,<br />
                              map: map<br />
                            });<br />
                     }<br />
                  }<br />
                }<br />
                function initMap() {<br />
                  directionsDisplay = new google.maps.DirectionsRenderer();<br />
                  var uluru = {lat: 60.17, lng: 24.935};<br />
                  var map = new google.maps.Map(document.getElementById('map'), {<br />
                    zoom: 12,<br />
                    center: uluru<br />
                  });<br />
                  directionsDisplay.setMap(map);<br />
                  return map;<br />
                }<br />
                //the script example ends
              li.mdl-list__item.mdl-color-text--white HTML
              li.mdl-list__item.mdl-color--grey-800.round.mdl-color-text--white.TopPadSmall.
                input#x(type="number", step="0.0001", placeholder="61.1752")<br />
                input#y(type="number", step="0.0001", placeholder="24.9523")<br />
                button(onclick='SetLocation()')<br />
                div#map<br />
              li.mdl-list__item.mdl-color-text--white CSS
              li.mdl-list__item.mdl-color--grey-800.round.mdl-color-text--white.TopPadSmall.
                #map {<br />
                  height: 400px;<br />
                  width: 90%<br />
                }
        .android-customized-section.mdl-cell--6-col.TopPad
            input#x.pull-right.mdl-color--grey-800.btn.mdl-color-text--white.mdl-cell--4-col(type="number", step="0.0001", placeholder="61.1752")
            input#y.pull-right.mdl-color--grey-800.btn.mdl-color-text--white.mdl-cell--4-col(type="number", step="0.0001", placeholder="24.9523")
            button.mdl-button.mdl-color-text--white.mdl-color--blue-800.mdl-button--accent-blue.shadow.mdl-cell--12-col(onclick='SetLocation()') Look for 5 closest to your location
            div#map
            script.
              //the script in the example
              var locx;
              var locy;
              function SetLocation() {
                locx = document.getElementById("x").value;
                locy = document.getElementById("y").value;
                DoACall();
              }
              function DoACall(){
                var directionsDisplay;
                var directionsService = new google.maps.DirectionsService();
                var xmlhttp = new XMLHttpRequest();
                var url = "http://localhost:4200/API/bars?locx="+locx+"&locy="+locy+"&amount=5";
                xmlhttp.onreadystatechange = function() {
                 if (xmlhttp.readyState == 4 && xmlhttp.status == 200) {
                 var myArr = JSON.parse(xmlhttp.responseText);
                 myFunction(myArr);
                 }
                }
                xmlhttp.open("GET", url, true);
                xmlhttp.send();
                function myFunction(arr) {
                  var map = initMap();
                   for(k in arr) {
                          GG = arr[k];
                          var cord = new google.maps.LatLng(GG.locy, GG.locy);
                          var marker = new google.maps.Marker({
                            position: cord,
                            map: map
                          });
                   }
                }
              }
              function initMap() {
                directionsDisplay = new google.maps.DirectionsRenderer();
                var uluru = {lat: 60.17, lng: 24.935};
                var map = new google.maps.Map(document.getElementById('map'), {
                  zoom: 12,
                  center: uluru
                });
                directionsDisplay.setMap(map);
                return map;
              }
              //the script example ends
            script(src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBylGxAsbWaioXGTOF6zV_1poGS061Ggl4")
          .android-customized-section-image
