extends layout

block content
  div(style="height: 100%;width: 100%")
    ul.mdlext-carousel.mdlext-js-carousel
      li.mdlext-carousel-slide
        .android-content.mdl-layout__content.TopPad
          .android-screen-section.mdl-typography--text-center
            a(name='screens')
            .mdl-typography--display-1-color-contrast Example API Calls
            .android-screens
              .android-wear.android-screen
                a.android-image-link(href='')
                  img.android-screen-image(src='images/wear-silver-on.png')
                  img.android-screen-image(src='images/wear-black-on.png')
          .android-customized-section.TopPad.mdl-grid
            .android-customized-section-text
              .mdl-typography--font-light.mdl-typography--display-1-color-contrast Adding a object to database
              h5.mdl-color--grey-800.round.mdl-color-text--white.mdl-typography--font-light.TopPadSmall localhost/API/addobject
              .mdl-typography--font-light.mdl-typography--display-1-color-contrast.TopPad Request needs a form with inputs:
              ul.demo-list-item.mdl-list.invert
                li.mdl-list__item name="barname", type="input"
                li.mdl-list__item name="locx", type="number", step="0.0001"
                li.mdl-list__item name="locy", type="number", step="0.0001"
                li.mdl-list__item name="type", type="text"
                li.mdl-list__item name="capasity", "type=number"
              a.android-link.mdl-typography--font-light(href="/dev") Link To test this API Call
            .android-customized-section-image
      li.mdlext-carousel-slide
        h5.mdl-color-text--white hoi
