extends layout

block content
      .android-content.mdl-layout__content.TopPad.mdl-grid
        .android-screen-section.mdl-typography--text-center.mdl-cell--12-col
          a(name='screens')
          .mdl-typography--display-1-color-contrast Example API Calls
          .android-screens
            .android-wear.android-screen
              a.android-image-link(href='')
                img.android-screen-image(src='images/wear-silver-on.png')
                img.android-screen-image(src='images/wear-black-on.png')
        .android-customized-section.mdl-cell--6-col.TopPad
          .android-customized-section-text
            .mdl-typography--font-light.mdl-typography--display-1-color-contrast Making a API call
            h5.mdl-color--grey-800.round.mdl-color-text--white.mdl-typography--font-light.TopPadSmall localhost/API/bars
            .mdl-typography--font-light.mdl-typography--display-1-color-contrast.TopPad Following code:
            ul.demo-list-item.mdl-list
              li.mdl-list__item.mdl-color-text--white Javascript
              li.mdl-list__item.mdl-color--grey-800.round.mdl-color-text--white.TopPadSmall.
                  function DoACall(){<br />
                      var xmlhttp = new XMLHttpRequest();<br />
                      var url = "http://localhost:4200/API/bars";<br />
                      xmlhttp.onreadystatechange = function() {<br />
                       if (xmlhttp.readyState == 4 && xmlhttp.status == 200) {<br />
                       var myArr = JSON.parse(xmlhttp.responseText);<br />
                       tableexample(myArr);<br />
                       }<br />
                      }<br />
                      xmlhttp.open("GET", url, true);<br />
                      xmlhttp.send();<br />
                      function tableexample(arr) {<br />
                        //prevents same table to be written multiple times using jquery<br />
                        $("#tyot tr").remove();<br />
                          //creating header for the table<br />
                          var headertr = document.createElement("tr");<br />
                          dataplaceholder = arr[0];<br />
                          for (x in dataplaceholder){<br />
                              var headertd = document.createElement("td");<br />
                              headertd.appendChild(document.createTextNode(x));<br />
                              headertr.appendChild(headertd);<br />
                          }<br />
                          document.getElementById("tyot").appendChild(headertr);<br />
                          //header for table created time to write down the content<br />
                       for(k in arr) {<br />
                          var row = document.createElement("tr");<br />
                          var dp = arr[k];<br />
                          for (x in dp){<br />
                              var dpx = dp[x];<br />
                              var content = document.createElement("td");<br />
                              content.appendChild(document.createTextNode(dpx));<br />
                              row.appendChild(content);<br />
                          }<br />
                          document.getElementById("tyot").appendChild(row);<br />
                       }<br />
                      }<br />
                  }<br />
              li.mdl-list__item.mdl-color-text--white HTML
              li.mdl-list__item.mdl-color--grey-800.round.mdl-color-text--white.TopPadSmall.
                button#testi(onclick='DoACall()') Simple API call button<br />
                table#tyot
        .android-customized-section.mdl-cell--6-col.TopPad
            button#testi(onclick='DoACall()') Simple API call button
            table#tyot
            script.
              //the script in the example
              function DoACall(){
                  var xmlhttp = new XMLHttpRequest();
                  var url = "http://localhost:4200/API/bars";
                  xmlhttp.onreadystatechange = function() {
                   if (xmlhttp.readyState == 4 && xmlhttp.status == 200) {
                   var myArr = JSON.parse(xmlhttp.responseText);
                   tableexample(myArr);
                   }
                  }
                  xmlhttp.open("GET", url, true);
                  xmlhttp.send();
                  function tableexample(arr) {
                      //prevents same table to be written multiple times using jquery
                      $("#tyot tr").remove();
                      
                      //creating header for the table
                      var headertr = document.createElement("tr");
                      dataplaceholder = arr[0];
                      for (x in dataplaceholder){
                          var headertd = document.createElement("td");
                          headertd.appendChild(document.createTextNode(x));
                          headertr.appendChild(headertd);
                      }
                      document.getElementById("tyot").appendChild(headertr);
                      //header for table created time to write down the content
                   for(k in arr) {
                      var row = document.createElement("tr");
                      var dp = arr[k];
                      for (x in dp){
                          var dpx = dp[x];
                          var content = document.createElement("td");
                          content.appendChild(document.createTextNode(dpx));
                          row.appendChild(content);
                      }
                      document.getElementById("tyot").appendChild(row);
                   }
                  }
              }
              //the script example ends
          .android-customized-section-image
