extends layout

block content
  if loggedin
    .mdl-cell--12-col
      h5.mdl-cell--12-col.mdl-color-text--green-300 Logged in!
      .TopPadBig
        h5.mdl-cell--12-col.mdl-typography--text-center Add Object Testing
      form#formAddObject.mdl-cell--12-col(name="addobj",method="get",action="/API/addobject")
        input.pull-right.mdl-color--grey-800.btn.mdl-color-text--white.mdl-cell--4-col(name="name",type="text",placeholder="Name")
        input.pull-right.mdl-color--grey-800.btn.mdl-color-text--white.mdl-cell--4-col(name="locx",type="number",step="0.0001",placeholder="60.2345")
        input.pull-right.mdl-color--grey-800.btn.mdl-color-text--white.mdl-cell--4-col(name="locy",type="number",step="0.0001",placeholder="21.5685")
        input.pull-right.mdl-color--grey-800.btn.mdl-color-text--white.mdl-cell--4-col(name="type",type="text",placeholder="Type")
        input.pull-right.mdl-color--grey-800.btn.mdl-color-text--white.mdl-cell--4-col(name="capacity",type="number",step="1",placeholder="Capasity")
        .mdl-grid
          .mdl-layout-spacer
          input#SubmitAddObj.mdl-button.mdl-color-text--white.mdl-color--blue-800.mdl-button--accent-blue.shadow.mdl-cell--3-col(type='submit',value="Add")
          .mdl-layout-spacer
      form(action="/logout",method="post").mdl-grid
        .mdl-layout-spacer
        input.btn.mdl-button.mdl-color--purple-800.mdl-color-text--white.mdl-cell--3-col(type="submit",value="Logout")
        .mdl-layout-spacer
      ul.mdl-cell--12-col.mdl-list.TopPad
        each user, i in userlist
          li.mdl-list__item
              a.TopPadSmall.mdl-cell--12-col(href="mailto:#{user.email}")= user.email
              form#formDelUser.mdl-cell--12-col(name="deluser",method="post",action="/deluser")
                  input.mdl-cell--12-col(name="delthisuser",type="text",value="#{user._id}",style="display:none")
                  input.mdl-cell--2-col.mdl-button.mdl-color--red-800.mdl-color-text--white.mdl-cell--12-col(type='submit',value="Delete")
                  h5.mdl-cell--12-col.mdl-color-text--white API Key:
                  h5.mdl-cell--12-col.mdl-color-text--white #{user.API_key}
  else
    .mdl-cell--12-col
      h5.mdl-cell--12-col.mdl-color-text--red-300.mdl-cell--12-col Not Logged In!
      h5.TopPad.center.mdl-cell--12-col
        span.mdl-color-text--indigo-400.center.mdl-cell--12-col Login Panel
      form#LoginForm(name="login",method="post",action="/login")
        input.mdl-color--grey-800.btn.mdl-cell--6-col.mdl-color-text--white(type="text",name="loginEmail",placeholder="Username")
        input.mdl-color--grey-800.btn.mdl-cell--6-col.mdl-color-text--white(type="password",name="loginPasswd",placeholder="Password")
        .mdl-grid
          .mdl-layout-spacer
          input.btn.mdl-color--primary.mdl-color-text--white.mdl-cell--3-col.mdl-color-text--white(type="submit")
          .mdl-layout-spacer
      .mdl-grid.row
      .mdl-grid.row
      h5.TopPad.center.mdl-cell--12-col
        span.mdl-color-text--red-400 Signup Panel
      form#SignupForm(name="signup",method="post",action="/adduser")
        input.mdl-color--grey-800.btn.mdl-cell--6-col.mdl-color-text--white(type="text",name="signupEmail",placeholder="Username")
        input.mdl-color--grey-800.btn.mdl-cell--6-col.mdl-color-text--white(type="password",name="signupPasswd",placeholder="Password")
        .mdl-grid
          .mdl-layout-spacer
          input.btn.mdl-color--primary.mdl-color-text--white.mdl-cell--3-col.center.mdl-color-text--white(type="submit")
          .mdl-layout-spacer
