extends layout

block content
          .android-screen-section.mdl-typography--text-center.mdl-cell--12-col
            a(name='screens')
            .mdl-typography--display-2-color-contrast.TopPad API Calls
            .android-screens
              .android-wear.android-screen
                a.android-image-link(href='')
                  img.android-screen-image(src='images/wear-silver-on.png')
                  img.android-screen-image(src='images/wear-black-on.png')
          .android-customized-section.mdl-cell--6-col.TopPad
            .android-customized-section-text
              .mdl-typography--font-light.mdl-typography--display-1-color-contrast Requesting all of database
              h5.mdl-color--grey-800.mdl-cell--12-col.round.mdl-color-text--white.TopPadSmall
                span.mdl-color-text--yellow-200 /API
                span.mdl-color-text--purple-200 /bars
              a.android-link.mdl-typography--font-light(href="/API/bars") Try this
          .android-customized-section.mdl-cell--6-col.TopPad
            .android-customized-section-text
              .mdl-typography--font-light.mdl-typography--display-1-color-contrast Searching content with query
              h5.mdl-color--grey-800.mdl-cell--12-col.round.mdl-color-text--white.TopPadSmall 
                span.mdl-color-text--yellow-200 /API
                span.mdl-color-text--purple-200 /bars
                span.mdl-color-text--red-200 ?attribute1=example
                span.mdl-color-text--green-300 &attribute2=123
              a.android-link.mdl-typography--font-light(href="/API/bars?attribute1=example") Try this
          .android-customized-section.mdl-cell--6-col.TopPad
            .android-customized-section-text
              .mdl-typography--font-light.mdl-typography--display-1-color-contrast Finding closest bars
              h5.mdl-color--grey-800.mdl-cell--12-col.round.mdl-color-text--white.TopPadSmall 
                span.mdl-color-text--yellow-200 /API
                span.mdl-color-text--purple-200 /bars
                span.mdl-color-text--red-200 ?locx=20.1234
                span.mdl-color-text--orange-300 &locy=31.1234
                span.mdl-color-text--purple-300 &amount=4
              a.android-link.mdl-typography--font-light(href="/API/bars?locx=''") Try this
          .android-customized-section.mdl-cell--12-col.TopPad
            .android-customized-section-text
              .mdl-typography--font-light.mdl-typography--display-1-color-contrast Adding a object with AJAX query (Needs API Key from Dev panel)
              h5.mdl-color--grey-800.mdl-cell--12-col.round.mdl-color-text--white.TopPadSmall 
                span.mdl-color-text--yellow-200 /API
                span.mdl-color-text--purple-200 /addobject
                span.mdl-color-text--red-200 ?name=esim
                span.mdl-color-text--green-300 &locx=20.1234
                span.mdl-color-text--orange-300 &locy=20.1234
                span.mdl-color-text--purple-300 &type=bar
                span.mdl-color-text--teal-300 &capacity=100
                span.mdl-color-text--pink-300 &API_key=asd
              a.android-link.mdl-typography--font-light(href="/API/addobject?name=esim&locx=10.1234&locy=20.1234&type=bar&capacity=100") Try this
          .android-customized-section.mdl-cell--6-col.TopPad
            .android-customized-section-text
              .mdl-typography--font-light.mdl-typography--display-1-color-contrast Adding a object to database
              h5.mdl-color--grey-800.mdl-cell--12-col.round.mdl-color-text--white.mdl-typography--font-light.TopPadSmall
                span.mdl-color-text--yellow-200 /API
                span.mdl-color-text--blue-200 /addobject
              .mdl-typography--font-bold.mdl-typography--display-1-color-contrast.TopPadSmall
                span.mdl-color-text--white This request needs a form with inputs (And you to be logged in):
              ul.demo-list-item.mdl-list
                li.mdl-list__item.mdl-color-text--white name="barname", type="input"
                li.mdl-list__item.mdl-color-text--white name="locx", type="number", step="0.0001"
                li.mdl-list__item.mdl-color-text--white name="locy", type="number", step="0.0001"
                li.mdl-list__item.mdl-color-text--white name="type", type="text"
                li.mdl-list__item.mdl-color-text--white name="capacity", "type=number"
              a.android-link.mdl-typography--font-light(href="/dev") Try this
          .android-customized-section.mdl-cell--12-col.TopPad.vertical-spacer
            h5.transparent(style="visibility: hidden")
