doctype html
html
  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='description', content='API for bars')
    meta(name='viewport', content='width=device-width, initial-scale=1.0, minimum-scale=1.0')
    title barAPI Manual
    link(rel='stylesheet', href='https://fonts.googleapis.com/icon?family=Material+Icons')
    link(rel='stylesheet', href='https://code.getmdl.io/1.3.0/material.indigo-pink.min.css')
    link(rel="stylesheet",href="https://fonts.googleapis.com/css?family=Roboto:regular,bold,italic,thin,light,bolditalic,black,medium&amp;lang=en")
    link(rel="stylesheet",href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css")
    link(rel='stylesheet', href='/stylesheets/style.css')
script.
  function fadeload(){
    var el = document.querySelector('.js-fade');
    if (el.classList.contains('is-paused')){
      el.classList.remove('is-paused');}
  }
body.js-fade.fade-in.is-paused(onload="fadeload()")
  .mdl-layout.mdl-js-layout.mdl-layout--fixed-header.mdl-color--grey-900.mdl-color-text--white
        .android-header.mdl-layout__header.mdl-layout__header--waterfall.mdl-color--primary
          .mdl-layout__header-row
            span.android-title.mdl-layout-title
              img.android-logo-image(src='images/android-logo.png')
            // Add spacer, to align navigation to the right in desktop
            .android-header-spacer.mdl-layout-spacer
                .android-search-box.mdl-textfield.mdl-js-textfield.mdl-textfield--expandable.mdl-textfield--floating-label.mdl-textfield--align-right.mdl-textfield--full-width
                  label.mdl-button.mdl-js-button.mdl-button--icon(for='search-field')
                      i.material-icons#hakuref search
                  .mdl-textfield__expandable-holder
                    form#searchform(action="/API/bars",method="GET")
                        input#search-field.mdl-textfield__input(type='text',name="name", placeholder="Search bars by name")
                        input#invisearch(type="submit",style="position: absolute; left: -9999px; width: 1px; height: 1px;")
            // Navigation
            .android-navigation-container
              nav.android-navigation.mdl-navigation
                a.mdl-navigation__link.mdl-typography--text-uppercase(href="/") API Calls (Home)
                a.mdl-navigation__link.mdl-typography--text-uppercase(href="https://gitlab.com/macsy/baariAPI_Express") GitLab
                a.mdl-navigation__link.mdl-typography--text-uppercase.mdl-color--red-600(href="/dev") Developer
                a.mdl-navigation__link.mdl-typography--text-uppercase.mdl-color--green-600(href="/demo3") Demo
            span.android-mobile-title.mdl-layout-title
              img.android-logo-image(src='images/android-logo.png')
            button#more-button.android-more-button.mdl-button.mdl-js-button.mdl-button--icon.mdl-js-ripple-effect
              i.material-icons more_vert
            ul.mdl-menu.mdl-js-menu.mdl-menu--bottom-right.mdl-js-ripple-effect(for='more-button')
              li.mdl-menu__item Light Theme
              li.mdl-menu__item.mdl-color--grey-900.mdl-color-text--white Dark Theme
        .android-drawer.mdl-layout__drawer.mdl-color--grey-900.mdl-color-text--white
          span.mdl-layout-title
            img.android-logo-image(src='images/android-logo-white.png')
          nav.mdl-navigation
            a.mdl-navigation__link.mdl-color-text--white(href="/") API Calls (Home)
            a.mdl-navigation__link(href="https://gitlab.com/macsy/baariAPI_Express") GitHub
            a.mdl-navigation__link(href='/dev') Developer
            a.mdl-navigation__link(href='/demo3') Demo
            .android-drawer-separator
        .android-content.mdl-layout__content.mdl-grid
          block content
        footer.macsy-footer.mdl-color--primary
            p.mdl-typography--font-light.mdl-color-text--white Ryhmä 6
            p.mdl-typography--font-light.mdl-color-text--white Avoimet rajapinnat ja avoin data
            p.mdl-typography--font-light.mdl-color-text--white Harjoitustyö
script(src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js")
script(src='https://code.getmdl.io/1.3.0/material.min.js')
script(src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js")
script(src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBylGxAsbWaioXGTOF6zV_1poGS061Ggl4")
