html {
  background-color: black;
  font: -apple-system-body, "Segoe UI", Roboto;
}
::placeholder {
  color: white;
}
::-webkit-scrollbar { display: none; }
input::-webkit-input-placeholder {
  color: white;
}
.mdl-color--primary {
  background-color: -moz-win-accentcolor !important;
}
pre {
  color: white;
}
body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  overflow: hidden;
}

a {
  color: #00B7FF;
}
.invert {
 filter: invert(1) !important;
}
.mdl-layout {
  position: fixed;
  top: 0;
  left: 0;
}
.TopPad {
  margin-top: 50px;
}
.LeftPad {
  margin-left: 50px;
}
.TopPadBig {
  margin-top: 90px;
}
.TopPadSmall {
  margin-top: 20px;
}
.round {
  border-radius: 3px;
  padding: 5px 5px 5px 5px;
}
.mdl-mega-footer--left-section {
  display: none;
}
.center {
  text-align: center;
  box-align: center;
}
.mdl-data-table {
  width: 10% !important;
}
.android-customized-section {
  margin-left: 5px;
  margin-right: 5px;
}
.mdl-typography--display-1-color-contrast {
  font-size: 22px;
}
.mdl-typography--display-2-color-contrast {
  font-size: 35px;
}
@keyframes fadeIn {
  to {
    opacity: 1;
  }
}
.fade-in {
  opacity: 0;
  animation: fadeIn .5s ease-in 1 forwards;
}
.is-paused {
  animation-play-state: paused;
}
.mdl-layout__content {
  margin-left: 18px;
  margin-right: -17px;
 overflow-y: scroll;
 overflow-x: hidden;
}
.left {
  text-align: left !important;
}
.vertical-spacer {
    min-height: 40px;
}
.macsy-footer p {
  line-height: 30px;
  margin-left: 35px !important;
  margin: 0;
}
#formAddObject input, .mdl-cell--6-col, .mdl-cell--12-col,
.mdl-cell--4-col {
  margin: 5px 5px 5px 5px;
}
#map {
  height: 400px;
  width: 90%
}
