extends layout

block content
    .mdl-layout.mdl-js-layout.mdl-layout--fixed-header
        .android-header.mdl-layout__header.mdl-layout__header--waterfall
          .mdl-layout__header-row
            span.android-title.mdl-layout-title
              img.android-logo-image(src='images/android-logo.png')
            // Add spacer, to align navigation to the right in desktop
            .android-header-spacer.mdl-layout-spacer
            .android-search-box.mdl-textfield.mdl-js-textfield.mdl-textfield--expandable.mdl-textfield--floating-label.mdl-textfield--align-right.mdl-textfield--full-width
              label.mdl-button.mdl-js-button.mdl-button--icon(for='search-field')
                i.material-icons search
              .mdl-textfield__expandable-holder
                input#search-field.mdl-textfield__input(type='text')
            // Navigation
            .android-navigation-container
              nav.android-navigation.mdl-navigation
                a.mdl-navigation__link.mdl-typography--text-uppercase(href="#") API Calls
                a.mdl-navigation__link.mdl-typography--text-uppercase(href="#") GitHub
            span.android-mobile-title.mdl-layout-title
              img.android-logo-image(src='images/android-logo.png')
            button#more-button.android-more-button.mdl-button.mdl-js-button.mdl-button--icon.mdl-js-ripple-effect
              i.material-icons more_vert
            ul.mdl-menu.mdl-js-menu.mdl-menu--bottom-right.mdl-js-ripple-effect(for='more-button')
              li.mdl-menu__item Light Theme
              li.mdl-menu__item.mdl-color--grey-900.mdl-color-text--white Dark Theme
        .android-drawer.mdl-layout__drawer
          span.mdl-layout-title
            img.android-logo-image(src='images/android-logo-white.png')
          nav.mdl-navigation
            a.mdl-navigation__link(href='') API Calls
            a.mdl-navigation__link(href='') GitHub
            .android-drawer-separator
        .android-content.mdl-layout__content.TopPad
          .android-screen-section.mdl-typography--text-center
            a(name='screens')
            .mdl-typography--display-1-color-contrast Example API Calls
            .android-screens
              .android-wear.android-screen
                a.android-image-link(href='')
                  img.android-screen-image(src='images/wear-silver-on.png')
                  img.android-screen-image(src='images/wear-black-on.png')
          .android-customized-section.TopPadBig.mdl-grid
            .android-customized-section-text
              .mdl-typography--font-light.mdl-typography--display-1-color-contrast Example Case #1
              h5.mdl-color--grey-800.round.mdl-color-text--white.mdl-typography--font-light.ToppadBig Example Line goes here
              a.android-link.mdl-typography--font-light(href="#") Link To test this API Call
            .android-customized-section-image
          .android-customized-section.TopPadBig.mdl-grid
            .android-customized-section-text
              .mdl-typography--font-light.mdl-typography--display-1-color-contrast Example Case #2
              h5.mdl-color--grey-800.round.mdl-color-text--white.mdl-typography--font-light.ToppadBig Example Line goes here
              a.android-link.mdl-typography--font-light(href="#") Link To test this API Call
            .android-customized-section-image
          footer.android-footer.mdl-mega-footer.TopPadBig
            .mdl-mega-footer--top-section
              .mdl-mega-footer--left-section
                button.mdl-mega-footer--social-btn
                button.mdl-mega-footer--social-btn
                button.mdl-mega-footer--social-btn
              .mdl-mega-footer--right-section
                a.mdl-typography--font-light(href='#top')
                  | Back to Top
                  i.material-icons expand_less
            .mdl-mega-footer--middle-section
              p.mdl-typography--font-light Satellite imagery: © 2014 Astrium, DigitalGlobe
              p.mdl-typography--font-light Some features and devices may not be available in all areas
            .mdl-mega-footer--bottom-section
              a#version-dropdown.android-link.android-link-menu.mdl-typography--font-light
                | Versions
                i.material-icons arrow_drop_up
              ul.mdl-menu.mdl-js-menu.mdl-menu--top-left.mdl-js-ripple-effect(for='version-dropdown')
                li.mdl-menu__item 5.0 Lollipop
                li.mdl-menu__item 4.4 KitKat
                li.mdl-menu__item 4.3 Jelly Bean
                li.mdl-menu__item Android History
              a#developers-dropdown.android-link.android-link-menu.mdl-typography--font-light
                | For Developers
                i.material-icons arrow_drop_up
              ul.mdl-menu.mdl-js-menu.mdl-menu--top-left.mdl-js-ripple-effect(for='developers-dropdown')
                li.mdl-menu__item App developer resources
                li.mdl-menu__item Android Open Source Project
                li.mdl-menu__item Android SDK
                li.mdl-menu__item Android for Work
              a.android-link.mdl-typography--font-light(href='') Blog
              a.android-link.mdl-typography--font-li
