doctype html
html
  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='description', content='API for bars')
    meta(name='viewport', content='width=device-width, initial-scale=1.0, minimum-scale=1.0')
    title barAPI Manual
    link(rel='stylesheet', href='https://fonts.googleapis.com/icon?family=Material+Icons')
    link(rel='stylesheet', href='https://code.getmdl.io/1.3.0/material.indigo-pink.min.css')
    link(rel="stylesheet",href="https://fonts.googleapis.com/css?family=Roboto:regular,bold,italic,thin,light,bolditalic,black,medium&amp;lang=en")
    link(rel='stylesheet', href='/stylesheets/style.css')  
body
    block content
  script(src='https://code.getmdl.io/1.3.0/material.min.js')
